@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: rgb(70, 70, 70);
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(14, 14, 14)
}

h1 {
  margin: 1em 0 0 0;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid rgba(14, 14, 14, 0.4);
  transition: all cubic-bezier(0.47, 0, 0.745, 0.715);
}

*:focus {
  outline: none;
}

input {
  border-radius: 4px;
  border: 1px solid rgba(144, 144, 144, 0.4);
  padding: 5px;
}

p {
  margin: 1em 0;
}
